.nav {
  @include container;
}

.nav__toggle {
  display: none;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include list-killer;
  padding-left: 148px;
  padding-right: 148px;
  padding-top: 24px;
  padding-bottom: 21px;
}

.nav__list-item {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.nav__list-link {
  font-size: 14px;
  line-height: 35px;
  color: #000000;
  text-decoration: none;
}
